# Created by .ignore support plugin (hsz.mobi)
/out/
/.idea/
/Week_02/target/
/Week_03/target/
/Week_03/test_client/target/
/Week_05/springXml/target/
/Week_05/springAnnotation/target/
*.class
*.iml
/Week_05/starter/.mvn/
/Week_05/starter/starter-config/.mvn/
/Week_05/starter/starter-use/.mvn/
/Week_05/starter/starter-use/target/
